<div class="container">
    <div>
        <p class="fs-1 text-center">Our Story</p>
    </div>
    <div class="row mt-3">
        <p>We believe in goood We launched Fresh Pan Pizza Best Excuse Awards on our Facebook fan page. Fans were given situtations where they had to come up with wacky and fun excuses.The person will the best the best excuse Badge and womn Pizzeria's voucheers. Their enthusiastic response proved that Pizzeria's Fresh Pan Piza is the Tasttest Pan Pizza Event</p>
    </div>
    <div class="row mt-5 ">
        <div class="col-md-5"><img src="../../assets/food.jpg" alt="food img" width="400px" height="200px"></div>
          <div class="p-4 col-md-7 "><h3 class="mb-3">Ingredients</h3>Ever since we launched the Tasttest Pan Pizza ever people have not been able to resists the soffest, cheesiest, crunchies, butteriest Domino's Fresh Pan Pizza. They have been leaving the stage in the middle of a performance and even finding excuses to disqualified in a football match.</div>
    </div>
    <div class="row mt-5 ">
        <div class="p-4 col-md-7"><h3 class="mb-3">Our Chefs</h3>We launched Fresh Pan Pizza Best Excuse Awards on ourFacebook fan Page. Fans were given situations where they had to come up with wacky and fun excuses. The person with the best excuse Badge and won Domino's vouchers. Their enthusiastic response proved that Pizzeria's Fresh Pan Pizza is the TasttestPan Pizza Event</div>
        <div class="col-md-5"><img src="../../assets/chef.jpg" width="400px" height="200px" alt="chef img"></div>
    </div>
    <div class="row mt-5">
        <div class="col-md-5"><img src="../../assets/time.jpg" width="400px" height="200px" alt="time img"></div>
          <div class=" p-4 col-md-7 fs-8">45 min delivery </div>
    </div>
  </div>